<!-- Firebase SDK -->
<script src="https://www.gstatic.com/firebasejs/10.7.1/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.7.1/firebase-database-compat.js"></script>

<script>
  const firebaseConfig = {
	apiKey: "AIzaSyADKY_FZ1kzymPYgg3lFEASNG1p8D6DJI4",
	authDomain: "blog-dev-minggyu.firebaseapp.com",
	databaseURL: "https://blog-dev-minggyu-default-rtdb.firebaseio.com",
	projectId: "blog-dev-minggyu",
	storageBucket: "blog-dev-minggyu.firebasestorage.app",
	messagingSenderId: "222111106568",
	appId: "1:222111106568:web:000f9f95bcd794f07eb3bd",
	measurementId: "G-4HR6ESMNPJ"
  };

  // Firebase 초기화
  if (!firebase.apps.length) {
    firebase.initializeApp(firebaseConfig);
  }
  
  const database = firebase.database();
</script>
